<html>
    <head>
        <title>power of a lamp</title>
        <style>
            body{
                background-color: rgb(128, 223, 246);
            }
            h1{
                background-color: rgb(249, 176, 202)
            }
            form{
                background-color: rgb(248, 242, 137)
            }
        </style>
    </head>
    <body>
        <h1 align="center">POWER OF INCANDESCENT LAMP</h1>
        <form align="center"method="post">
            {% csrf_token %}
            Intensity (amp): <input name="I" value="{{i}}">
            <br>
            <br>
            Resistance(ohm): <input name="R" value="{{r}}">
            <br>
            <br>
            <input type="submit" value="ENTER">
            <br>
            <br>
            Power(watts): <input name="power"value={{power}}>
        </form>
    </body>
</html>